.App {
  text-align: center;
}

.logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: rock-back-forth infinite 5s linear;
  }
}

.background {
  background-color: #fff1fe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}


@keyframes rock-back-forth {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.inner-header {
  background: #7a4c75;
  /* min-height: 60%; */
  width: 60vw;
  padding: 2%;
  border-radius: 10% !important;
}


.search-box {
  background: #d1e7fe;
}