.App {
  text-align: center;
  color: black;
  font-family: 'Aleo', serif;
}

.logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: rock-back-forth infinite 5s linear;
  }
}

.background {
  background-color: #fff1fe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
}


@keyframes rock-back-forth {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.inner-header {
  background: white;
  /* min-height: 60%; */
  width: 80%;
  padding: 2%;
  overflow: hidden;
  border-radius: 5vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}



.search-box {
  background: #d1e7fe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  min-height: 10vh;
  padding: 1vh;
}

h1 {
  color: black;
  font-weight: 600;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  font-family: 'Aleo', serif;
}

.loading-indicator {
  margin-top: 20px;
  width: 82%;
  background: #d1e7fe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  min-height: 10vh;
  padding: 1vh; 
}

.data-card {
  margin-top: 20px;
  width: 82%;
  border-radius: 1vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  min-height: 10vh;
  padding: 1vh; 
}